# Maven
target/
*.class
*.jar
*.war
*.ear

# IDE
.idea/
*.iml
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# H2 local database (don't push local data)
data/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Spring Boot
spring-shell.log
